include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include ROADMAP.md
recursive-include docs *.rst *.md
recursive-include examples *
recursive-include src/pinn/config/templates *
recursive-include scripts *.py
include Dockerfile
recursive-include deployment *
