include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include ROADMAP.md
recursive-include docs *.rst *.md
recursive-include examples *
recursive-include src/pinnlab/config/templates *
recursive-include scripts *.py
include Dockerfile
recursive-include deployment *
global-exclude *.py[cod]
global-exclude __pycache__
